<div class="flex flex-col items-center gap-3">
  @if (isWrong) {
    <div
      class="box-border flex h-10 w-10 items-center justify-center rounded-lg bg-wrong text-base3 shadow shadow-baseshadow hover:outline-none hover:outline-secondary-content md:h-12 md:w-12">
      <mat-icon class="font-bold">close</mat-icon>
    </div>
  } @else if (isCorrect) {
    <div
      class="box-border flex h-10 w-10 items-center justify-center rounded-lg bg-correct text-base3 shadow shadow-baseshadow hover:outline-none hover:outline-secondary-content md:h-12 md:w-12">
      <mat-icon class="font-bold">check</mat-icon>
    </div>
  } @else if (isSkipped) {
    <div
      class="box-border flex h-10 w-10 items-center justify-center rounded-lg bg-base2 text-base3 shadow shadow-baseshadow hover:outline-none hover:outline-secondary-content md:h-12 md:w-12">
      <mat-icon class="font-bold">panorama_fisheye</mat-icon>
    </div>
  } @else if (isNotAnswered) {
    <div
      class="box-border flex h-10 w-10 items-center justify-center rounded-lg border-2 border-base2 shadow shadow-baseshadow hover:outline-none hover:outline-secondary-content md:h-12 md:w-12"></div>
  }
  <div class="text-center text-secondary-content">
    {{ questionindex }}
  </div>
</div>
