<div class="flex h-16 items-center justify-between border-b-[1px] border-[#2a2a2a] bg-base3 px-4">
  <a routerLink="/" class="group">
    <div class="flex items-center gap-3">
      <img src="../../assets/icon.svg" />
      <h1 class="text-secondary-content group-hover:text-primary-content">Tehut</h1>
    </div>
  </a>
  <div class="flex items-center gap-6">
    <a class="text-secondary-content hover:text-primary-content" href="">Login</a>
    <!-- Placeholder for profil image -->
    <div class="flex h-10 w-10 items-center justify-center rounded-[1.25rem] bg-base2">
      <span class="text-lg font-bold text-secondary-content">?</span>
    </div>
  </div>
</div>
