<div
  class="flex h-16 items-center justify-between border-b-[1px] border-[#2a2a2a] bg-base3 px-4">
  <a routerLink="/" class="group">
    <div class="flex items-center gap-3">
      <img
        class="mt-2 border-b-2 border-transparent pb-1 hover:border-secondary-content"
        src="../../assets/icon.svg" />
    </div>
  </a>
  <div class="flex h-full items-center gap-4">
    @if (showRunningQuiz) {
      <p class="text-secondary-content">
        {{ '"' + runningQuizName + '"' + " running..." }}
      </p>
      <button
        class="h-8 rounded-lg bg-base2 px-3 py-1 text-primary-content shadow shadow-baseshadow hover:outline-none hover:outline-secondary-content"
        (click)="onNavigateToQuizRun()">
        Take me there
      </button>
    }
    <app-quiz-run-clock />
  </div>
</div>
