<main
  class="flex h-full flex-col items-center justify-center gap-12 self-center">
  <div class="flex flex-wrap gap-6">
    @for (questionStatus of questionStatuses; track $index) {
      <a routerLink=".." [queryParams]="{ current: $index + 1 }">
        <app-question-history-square
          [questionindex]="$index + 1"
          [questionStatus]="questionStatus"></app-question-history-square>
      </a>
    }
  </div>
  <div class="my-10 flex items-center gap-10">
    <div class="flex flex-col items-center gap-4">
      <div
        data-tip="Wrong Answer Amount"
        class="tooltip-base flex h-16 w-16 items-center justify-center rounded-xl bg-wrong text-base3 shadow">
        <mat-icon class="scale-150 font-bold">close</mat-icon>
      </div>
      <p class="text-xl text-secondary-content">{{ wrongAnswerCount }}</p>
    </div>
    <div class="flex flex-col items-center gap-4">
      <div
        data-tip="Correct Answer Amount"
        class="tooltip-base flex h-16 w-16 items-center justify-center rounded-xl bg-correct text-base3 shadow">
        <mat-icon class="scale-150 font-bold">check</mat-icon>
      </div>
      <p class="text-xl text-secondary-content">{{ correctAnswerCount }}</p>
    </div>
    <div class="flex flex-col items-center gap-4">
      <div
        data-tip="Skipped Answer Amount"
        class="tooltip-base flex h-16 w-16 items-center justify-center rounded-xl bg-base2 text-base3 shadow">
        <mat-icon class="scale-150 font-bold">panorama_fisheye</mat-icon>
      </div>
      <p class="text-xl text-secondary-content">{{ skippedAnswerCount }}</p>
    </div>
    <div class="ml-8 flex flex-col items-center gap-4">
      <div
        data-tip="Total Answer Amount"
        class="tooltip-base flex h-16 w-16 items-center justify-center rounded-xl bg-base2 text-base3 shadow">
        <mat-icon class="scale-150 font-bold">bar_chart</mat-icon>
      </div>
      <p class="text-xl text-secondary-content">{{ totalAnwerCount }}</p>
    </div>
  </div>
  <div class="flex items-center gap-10">
    <button
      class="tooltip-base flex h-14 w-14 items-center justify-center rounded text-secondary-content hover:outline-none hover:outline-secondary-content"
      data-tip="Go Home"
      (click)="onGoHome()">
      <mat-icon class="scale-150">home</mat-icon>
    </button>
    <button
      class="tooltip-base flex h-14 w-14 items-center justify-center rounded text-secondary-content hover:outline-none hover:outline-secondary-content"
      data-tip="Restart Quiz"
      (click)="onRestartQuiz()">
      <mat-icon class="scale-150">refresh</mat-icon>
    </button>
  </div>
</main>
