<article
  class="flex h-80 w-56 flex-col flex-nowrap justify-between rounded-2xl bg-base2 p-2 shadow-xl">
  <!-- Quiz Image -->
  @if (quiz.imagePath) {
    <figure class="h-52 overflow-hidden rounded-xl">
      <img [src]="quiz.imagePath" alt="quiz image" />
    </figure>
  } @else {
    <div class="flex h-52 items-center justify-center rounded-xl bg-base">
      <p class="inline-block text-center text-6xl text-secondary-content">?</p>
    </div>
  }

  <!-- Quiz Summary -->
  <div class="mt-2">
    <h1 class="text-center text-xl text-primary-content">{{ quiz.name }}</h1>
    <h2 class="text-center text-secondary-content">{{ questionCount }}</h2>
  </div>

  <!-- Quiz Action Buttons -->
  <div class="mt-4 flex items-baseline justify-center gap-4">
    <button class="tooltip-base" data-tip="Run Quiz" (click)="onRun()">
      <mat-icon
        class="inline-block text-secondary-content hover:cursor-pointer hover:text-primary-content"
        >play_arrow</mat-icon
      >
    </button>

    <button class="tooltip-base" data-tip="Edit Quiz" (click)="onEdit()">
      <mat-icon
        class="inline-block text-secondary-content hover:cursor-pointer hover:text-primary-content"
        >edit</mat-icon
      >
    </button>
    <button class="tooltip-base" data-tip="Delete Quiz" (click)="onDelete()">
      <mat-icon
        class="inline-block text-secondary-content hover:cursor-pointer hover:text-primary-content"
        >delete</mat-icon
      >
    </button>
  </div>

  <!-- Dialog to confirm deletion -->
  <app-quiz-deletion-dialog
    [ngClass]="{ hidden: !showDeletionDialog }"
    (closed)="onDeletionDialogClosed($event)"
    #deletionDialog></app-quiz-deletion-dialog>
</article>
