<article class="flex flex-col gap-12">
  <!-- Header -->
  <header class="flex items-center gap-6">
    <h1 class="text-7xl text-primary-content">{{ quiz.name }}</h1>
    <label class="input input-bordered ml-14 mt-6 flex items-center gap-2 rounded-3xl bg-base">
      <input
        type="text"
        class="grow text-primary-content placeholder-secondary-content"
        placeholder="Search" />
      <mat-icon class="h-4 w-4 text-secondary-content opacity-70">search</mat-icon>
    </label>
    <button (click)="onRunQuiz()" class="tooltip-base mt-6" data-tip="Run Quiz">
      <mat-icon class="min-h-9 min-w-9 text-4xl text-secondary-content hover:text-primary-content"
        >play_arrow</mat-icon
      >
    </button>
    <button (click)="onEditNameQuiz()" class="tooltip-base mt-6" data-tip="Edit Name">
      <mat-icon class="min-h-9 min-w-9 text-4xl text-secondary-content hover:text-primary-content"
        >edit</mat-icon
      >
    </button>
    <button (click)="onAddEmptyQuizQuestion()" class="tooltip-base mt-6" data-tip="Add Question">
      <mat-icon class="min-h-9 min-w-9 text-4xl text-secondary-content hover:text-primary-content"
        >add</mat-icon
      >
    </button>
  </header>

  <!-- Quiz Question List -->
  <section class="flex flex-wrap">
    @for (question of quiz.questions; track $index) {
      <app-question-card
        class="mb-8 mr-8"
        [quiz]="quiz"
        [quizQuestion]="question"
        [questionIndex]="$index"></app-question-card>
    }

    <!-- Quiz Question Add Button  -->
    <button
      class="tooltip-base group mb-8 mr-8"
      data-tip="Add Question"
      (click)="onAddEmptyQuizQuestion()">
      <div
        class="flex h-80 w-52 items-center justify-center rounded-xl border-[3px] border-dashed border-secondary-content shadow-xl group-hover:border-primary-content">
        <span
          class="inline-block text-center text-6xl text-secondary-content group-hover:text-primary-content"
          >+</span
        >
      </div>
    </button>

    <app-quiz-editname-dialog
      (nameChanged)="onEditNameConfirmed($event)"
      [ngClass]="{ hidden: !showEditDialog }"
      #editNameDialog>
    </app-quiz-editname-dialog>
  </section>
</article>
