<main class="mb-4 flex flex-col gap-6 lg:gap-12">
  <!-- Header -->
  <header class="flex max-w-[56rem] items-center gap-2 md:gap-4 lg:gap-8">
    <app-header-icon-button
      (click)="onNavigateBack()"
      tooltip="Quiz Overview"
      iconType="arrow_back"
      data-button-type="back" />
    <h1
      class="line-clamp-1 min-w-12 max-w-96 text-xl text-primary-content md:pb-1 md:text-4xl">
      {{ quiz.name }}
    </h1>
    <app-search-bar
      class="ml-2 max-w-96 flex-1 md:ml-4 lg:ml-6"
      (search)="onSearch($event)" />
    <app-header-icon-button
      (click)="onRunQuiz()"
      tooltip="Run Quiz"
      iconType="play_arrow"
      data-button-type="play" />
    <app-header-icon-button
      (click)="onEditNameQuiz()"
      tooltip="Edit Name"
      iconType="edit"
      data-button-type="edit" />
    <app-header-icon-button
      (click)="onAddEmptyQuizQuestion()"
      tooltip="Add Question"
      iconType="add"
      data-button-type="add" />
  </header>

  <!-- Quiz Question List -->
  <section
    class="flex flex-wrap justify-center gap-4 md:justify-start md:gap-6">
    @for (question of questions | filterquestion: searchText; track $index) {
      <app-question-card [quizQuestion]="question" />
    }

    <!-- Quiz Question Add Button  -->
    <button
      class="tooltip-base group"
      data-tip="Add Question"
      data-cy="add-question-card-button"
      (click)="onAddEmptyQuizQuestion()">
      <div
        class="flex h-[19rem] w-44 items-center justify-center rounded-xl border-[3px] border-dashed border-secondary-content shadow shadow-baseshadow group-hover:border-primary-content md:h-[22rem] md:w-56">
        <span
          class="inline-block text-center text-6xl text-secondary-content group-hover:text-primary-content">
          +
        </span>
      </div>
    </button>
  </section>

  <app-quiz-editname-dialog
    (nameChanged)="onEditNameConfirmed($event)"
    [ngClass]="{ hidden: !showEditDialog }"
    #editNameDialog />
</main>
