input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #333235 inset;
  box-shadow: 0 0 0px 1000px #333235 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

.input:has(> input[disabled]),
.input-disabled,
.input:disabled,
.input[disabled] {
  background-color: #333235;
  border: 0;
  cursor: default;
}

.input input[disabled] {
  cursor: default;
}
