<article
  class="flex h-[19rem] w-44 flex-col flex-nowrap justify-between gap-4 rounded-2xl bg-base2 p-4 shadow shadow-baseshadow md:h-[22rem] md:w-56">
  <!-- Question Overview -->
  <div>
    <h1
      class="line-clamp-3 min-h-14 truncate text-balance text-primary-content md:line-clamp-2 md:text-xl">
      {{ quizQuestion.question }}
    </h1>
    <hr class="my-2" />
    <div
      class="text-sm text-primary-content md:text-base md:text-primary-content">
      <p class="line-clamp-2 truncate hyphens-auto text-balance break-words">
        1. {{ quizQuestion.answer1 }}
      </p>
      <p class="line-clamp-2 truncate hyphens-auto text-balance break-words">
        2. {{ quizQuestion.answer2 }}
      </p>
      <p class="line-clamp-2 truncate hyphens-auto text-balance break-words">
        3. {{ quizQuestion.answer3 }}
      </p>
      <p class="line-clamp-2 truncate hyphens-auto text-balance break-words">
        4. {{ quizQuestion.answer4 }}
      </p>
    </div>
  </div>

  <!-- Quiz Question Action Buttons -->
  <div class="flex items-baseline justify-center gap-4">
    <app-card-icon-button
      tooltip="Edit Question"
      (click)="onEdit()"
      iconType="edit"
      data-button-type="edit" />
    <app-card-icon-button
      tooltip="Delete Question"
      (click)="onDelete()"
      iconType="delete"
      data-button-type="delete" />
  </div>
</article>
