<div class="flex items-center gap-2">
  <app-header-icon-button
    tooltip="Previous Question"
    iconType="chevron_left"
    [disabled]="highlightedIndex === 0"
    (click)="onNavigateBack()"
    class="mb-11 md:mb-10" />
  <div class="carousel flex w-full max-w-[28rem] flex-1 items-start">
    @for (questionStatus of questionStatuses; track $index) {
      <div
        class="carousel-item mt-1 flex w-12 justify-center md:w-16"
        [id]="'question' + ($index + 1)">
        <a routerLink="." [queryParams]="{ current: $index + 1 }">
          <div
            class="border-b-2 pb-2"
            [ngClass]="{
              'border-secondary-content': highlightedIndex === $index,
              'border-transparent': highlightedIndex !== $index
            }">
            <app-question-history-square
              [questionindex]="$index + 1"
              [questionStatus]="questionStatus" />
          </div>
        </a>
      </div>
    }
  </div>
  <app-header-icon-button
    tooltip="Next Question"
    iconType="chevron_right"
    [disabled]="highlightedIndex === questionStatuses.length - 1"
    (click)="onNavigateForward()"
    class="mb-11 md:mb-10" />
</div>
