<main class="flex flex-col gap-20">
  <header class="flex items-center gap-6">
    <h1 class="mr-10 text-7xl text-primary-content">
      {{ quizHeader }}
    </h1>
    <div class="mt-6">
      <app-header-icon-button
        (click)="onRevealAnswer()"
        tooltip="Reveal Answer"
        iconType="remove_red_eye"
        [disabled]="questionAnswered" />
    </div>
    <div class="mt-6">
      <app-header-icon-button
        (click)="onLeaveQuiz()"
        tooltip="Leave Answer"
        iconType="exit_to_app" />
    </div>
  </header>

  <app-question-run
    [currentQuestionIndex]="currentQuestionIndex"></app-question-run>
</main>
