<dialog class="modal" #dialogWindow>
  <div class="modal-box bg-base3">
    <h3 class="text-2xl font-bold text-primary-content">Edit Image URL</h3>

    <form (ngSubmit)="onConfirmed()" #editForm="ngForm">
      <div class="relative mt-8">
        <p
          class="absolute left-1 top-[-1.5rem] text-sm text-red-500"
          *ngIf="!editImageInput.valid && editImageInput.touched">
          Please enter a quiz name.
        </p>
        <label
          class="input input-bordered flex items-center gap-2 rounded-3xl bg-base"
          [ngClass]="{
            'border-2 border-red-500':
              !editImageInput.valid && editImageInput.touched
          }"
          for="imageUrl">
          <mat-icon class="h-4 w-4 text-secondary-content opacity-70"
            >edit</mat-icon
          >
          <input
            type="text"
            class="grow text-primary-content placeholder-secondary-content"
            placeholder="Image Url"
            name="imageUrl"
            id="imageUrl"
            ngModel
            #editImageInput="ngModel"
            required
            onfocus="this.select()" />
        </label>
      </div>

      <div class="modal-action">
        <button
          class="btn bg-correct text-primary-content"
          type="submit"
          [disabled]="!editForm.valid">
          Save
        </button>
        <button
          type="button"
          class="btn bg-base2 text-primary-content"
          (click)="onCancelled()">
          Cancel
        </button>
      </div>
    </form>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button class="cursor-default"></button>
  </form>
</dialog>
