<article
  class="flex h-[22rem] w-56 flex-col flex-nowrap justify-between gap-4 rounded-2xl bg-base2 p-4 shadow-xl">
  <!-- Question Overview -->
  <div class="">
    <h1
      class="line-clamp-2 min-h-14 truncate text-balance text-xl text-primary-content">
      {{ quizQuestion.question }}
    </h1>
    <hr class="my-2" />
    <ol class="ml-4 list-decimal text-primary-content">
      <li>
        <div class="line-clamp-2 truncate text-wrap">
          {{ quizQuestion.answer1 }}
        </div>
      </li>
      <li>
        <div class="line-clamp-2 truncate text-wrap">
          {{ quizQuestion.answer2 }}
        </div>
      </li>
      <li>
        <div class="line-clamp-2 truncate text-wrap">
          {{ quizQuestion.answer3 }}
        </div>
      </li>
      <li>
        <div class="line-clamp-2 truncate text-wrap">
          {{ quizQuestion.answer4 }}
        </div>
      </li>
    </ol>
  </div>

  <!-- Quiz Question Action Buttons -->
  <div class="flex items-baseline justify-center gap-4">
    <button class="tooltip-base" data-tip="Edit Question" (click)="onEdit()">
      <mat-icon
        class="inline-block text-secondary-content hover:cursor-pointer hover:text-primary-content"
        >edit</mat-icon
      >
    </button>
    <button
      class="tooltip-base"
      data-tip="Delete Question"
      (click)="onDelete()">
      <mat-icon
        class="inline-block text-secondary-content hover:cursor-pointer hover:text-primary-content"
        >delete</mat-icon
      >
    </button>
  </div>
</article>
