<article
  class="shadow-baseshadow flex h-80 w-56 flex-col flex-nowrap justify-between rounded-2xl bg-base2 p-2 shadow">
  <!-- Quiz Image -->
  <button
    data-tip="Upload Image"
    class="tooltip-base group flex h-52 items-center justify-center rounded-xl bg-base bg-cover bg-center bg-no-repeat hover:outline-none hover:outline-secondary-content"
    [ngStyle]="{ 'background-image': 'url(' + quiz.imagePath + ')' }"
    (click)="onEditImageUrl()">
    @if (!quiz.imagePath) {
      <p class="select-none text-center text-6xl text-secondary-content">?</p>
    }
  </button>

  <!-- Quiz Summary -->
  <div class="mt-2">
    <h3
      class="line-clamp-1 overflow-y-auto rounded-xl text-center text-xl text-primary-content focus:outline-none focus:outline-secondary-content"
      contenteditable="true"
      (blur)="onEditQuizName(quizNameLabel)"
      (keydown)="onKeyDown($event, quizNameLabel)"
      #quizNameLabel>
      {{ quiz.name }}
    </h3>
    <h4 class="text-center text-secondary-content">{{ questionCount }}</h4>
  </div>

  <!-- Quiz Action Buttons -->
  <div class="mt-4 flex items-baseline justify-center gap-4">
    <app-card-icon-button
      iconType="play_arrow"
      (click)="onRun()"
      tooltip="Run Quiz"
      [disabled]="quiz.questionCount === 0" />
    <app-card-icon-button
      tooltip="Edit Quiz"
      (click)="onEdit()"
      iconType="edit" />
    <app-card-icon-button
      tooltip="Delete Quiz"
      (click)="onDelete()"
      iconType="delete" />
  </div>

  <!-- Dialog to confirm deletion -->
  <app-quiz-deletion-dialog
    [ngClass]="{ hidden: !showDeletionDialog }"
    (closed)="onDeletionDialogClosed($event)"
    #deletionDialog></app-quiz-deletion-dialog>

  <!-- Dialog to edit the image url -->
  <app-quiz-editimage-dialog
    [ngClass]="{ hidden: !showEditImageDialog }"
    (closed)="onEditImageDialogClosed($event)"
    #editImageDialog></app-quiz-editimage-dialog>
</article>
