<div class="flex flex-col items-stretch gap-8">
  <div
    class="flex h-56 items-center justify-center rounded-lg bg-base2 text-center shadow-md">
    <span class="text-center text-2xl text-primary-content">{{
      question?.question ?? ""
    }}</span>
  </div>
  <div class="mx-8 mt-8 flex gap-16 rounded-lg">
    <app-question-run-answer
      class="flex-1"
      [index]="1"
      [answer]="question?.answer1 ?? ''"
      [disabled]="answersRevealed"
      [selected]="selectedAnswer === 1"
      [correct]="question?.correctAnswerIndex === 1"
      (clicked)="onAnswerClicked($event)"></app-question-run-answer>
    <app-question-run-answer
      class="flex-1"
      [index]="2"
      [answer]="question?.answer2 ?? ''"
      [disabled]="answersRevealed"
      [selected]="selectedAnswer === 2"
      [correct]="question?.correctAnswerIndex === 2"
      (clicked)="onAnswerClicked($event)"></app-question-run-answer>
  </div>
  <div class="mx-8 flex gap-16 rounded-lg">
    <app-question-run-answer
      class="flex-1"
      [index]="3"
      [answer]="question?.answer3 ?? ''"
      [disabled]="answersRevealed"
      [selected]="selectedAnswer === 3"
      [correct]="question?.correctAnswerIndex === 3"
      (clicked)="onAnswerClicked($event)"></app-question-run-answer>
    <app-question-run-answer
      class="flex-1"
      [index]="4"
      [answer]="question?.answer4 ?? ''"
      [disabled]="answersRevealed"
      [selected]="selectedAnswer == 4"
      [correct]="question?.correctAnswerIndex === 4"
      (clicked)="onAnswerClicked($event)"></app-question-run-answer>
  </div>

  @if (answersRevealed) {
    <div class="mt-10 flex justify-center">
      <button
        class="tooltip-base flex h-14 w-20 items-center justify-center rounded text-2xl text-secondary-content hover:outline-none hover:outline-secondary-content"
        data-tip="Next Question"
        (click)="onNextQuestion()">
        <mat-icon class="scale-150">arrow_forward</mat-icon>
      </button>
    </div>
  }
</div>
