<main class="mb-4 flex flex-col gap-6 lg:gap-12">
  <!-- Header with Action Buttons and Searchbar -->
  <header class="flex max-w-96 items-center gap-3 lg:gap-6">
    <h1 class="mb-1 text-4xl text-primary-content">Quiz</h1>
    <app-search-bar
      class="ml-4 flex-1 lg:ml-6"
      (search)="onSearchQuiz($event)" />
    <app-header-icon-button
      (click)="onAddEmptyQuiz()"
      tooltip="Add Quiz"
      data-cy="add-quiz-header-button"
      iconType="add" />
  </header>

  <section
    class="flex flex-wrap justify-center gap-4 md:justify-start xl:gap-6">
    <!-- Quiz List -->
    @for (quiz of quizzes | filterquiz: searchText; track $index) {
      <app-quiz-card [quiz]="quiz" />
    }

    <!-- Quiz Add Button  -->
    <button
      class="tooltip-base group flex h-[17rem] w-44 items-center justify-center rounded-xl border-[3px] border-dashed border-secondary-content text-6xl text-secondary-content shadow shadow-baseshadow hover:border-primary-content hover:text-primary-content md:h-80 md:w-56"
      data-tip="Add Quiz"
      data-cy="add-quiz-card-button"
      (click)="onAddEmptyQuiz()">
      +
    </button>
  </section>
</main>
