<main class="flex flex-col gap-12">
  <!-- Header -->
  <header class="bg-read flex items-end gap-4">
    <h1 class="mb-1 text-6xl text-primary-content">Quiz</h1>
    <app-search-bar class="ml-10" (search)="onSearchQuiz($event)" />
    <app-header-icon-button
      (click)="onAddEmptyQuiz()"
      tooltip="Add Quiz"
      iconType="add"
      class="mb-1" />
  </header>

  <section class="flex flex-wrap gap-8">
    <!-- Quiz List -->
    @for (quiz of quizzes | filterquiz: searchText; track $index) {
      <app-quiz-card [quiz]="quiz" />
    }

    <!-- Quiz Add Button  -->
    <button
      class="tooltip-base group"
      data-tip="Add Quiz"
      (click)="onAddEmptyQuiz()">
      <div
        class="flex h-80 w-56 items-center justify-center rounded-xl border-[3px] border-dashed border-secondary-content shadow shadow-baseshadow group-hover:border-primary-content">
        <span
          class="inline-block text-center text-6xl text-secondary-content group-hover:text-primary-content">
          +
        </span>
      </div>
    </button>
  </section>
</main>
