<div class="flex h-full w-full flex-col items-center justify-center gap-10">
  <div
    class="flex h-48 w-48 items-center justify-center rounded-[6rem] bg-base2 text-center shadow-lg">
    <span class="select-none text-[5rem] text-secondary-content">?</span>
  </div>
  <h1 class="mt-4 text-6xl font-bold text-secondary-content">Page Not Found</h1>
  <p class="max-w-xl text-balance text-center text-lg text-secondary-content">
    Oops, seem like we could not find the page that you requested. Please check
    your address and try again.
  </p>
  <p class="text-sm text-secondary-content">Error Code: 404</p>

  <a
    class="tooltip-base mt-8 flex h-14 w-14 items-center justify-center rounded text-secondary-content hover:text-primary-content hover:outline-none hover:outline-secondary-content"
    routerLink="/quizzes"
    data-tip="Go Home">
    <mat-icon class="scale-150">home</mat-icon>
  </a>
</div>
