<main class="flex h-full items-center justify-center">
  <div class="flex flex-col gap-5">
    @if (showLeaveQuizRunWarning) {
      <div class="mb-8 flex justify-center">
        <p class="w-60 text-balance text-center text-wrong">
          {{ leaveQuizWarning }}
        </p>
      </div>
    }
    @if (quizHasNoQuestions) {
      <div class="mb-8 flex justify-center">
        <p class="w-60 text-balance text-center text-wrong">
          The quiz does not contain any questions and can not be started.
        </p>
      </div>
    }
    <div
      class="flex h-72 w-72 items-center justify-center rounded-xl bg-base bg-cover bg-center bg-no-repeat shadow-xl outline-none outline-base2"
      [ngStyle]="{ 'background-image': 'url(' + quiz.imagePath + ')' }">
      @if (!quiz.imagePath) {
        <p class="select-none text-center text-6xl text-secondary-content">?</p>
      }
    </div>
    <h1 class="text-center text-4xl text-primary-content">{{ quiz.name }}</h1>
    <h2 class="text-center text-secondary-content">
      {{ quiz.questionCount }} Questions
    </h2>
    <div class="mt-8 flex justify-center gap-6">
      <app-text-button
        bg="bg-correct"
        (click)="onStartQuizRun()"
        [disabled]="quizHasNoQuestions"
        >Start</app-text-button
      >
      <app-text-button bg="bg-base2" (click)="onNavigateBack()"
        >Back</app-text-button
      >
    </div>
  </div>
</main>
